/* body */
body {
	background-color: #000;
	color: #524635;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	align-items: center;
}

/* ---header--- */
header {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1440px;
	z-index: 1;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin: 0px 0px 10px;
}

/* fade-in animation */
/* 1st */
.header-logo-anchor {
	animation: fadeIn 5s;
}

/* 2nd */
.play-button {
	animation: fadeIn 10s;
}

/* 3rd */
.header-title {
	display: flex;
	justify-content: center;

	animation: fadeIn 14s;
}

/* settings */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* fade-in animation */

img.header-logo {
	width: 100px;
	height: auto;
}

.header-logo-anchor:hover,
a.mail-contact:hover {
	transition: opacity 2s;
	opacity: 0.65;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 20px 0px;
}

.play-button {
	color: #524635;
	background-color: #000;
	border: none;
}

.play-button:hover {
	transform: scale(1.15, 1.15);
}

.header-icons {
	display: flex;
	justify-content: center;
	gap: 25px;
}

/* icons */
.icon-social {
	font-size: 30px;
}

.icon-play {
	font-size: 40px;
}

/* anchors */
a.header-link:link {
	text-decoration: none;
}

a.header-link:hover {
	transform: scale(1.1, 1.1);
}

.entry-content a {
	color: #cdcdcd;
	opacity: 0.7;
	text-decoration: none;
}

.entry-content a:hover {
	text-decoration: underline;
}

/* ---header--- */

/* ---main--- */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.noescape-cover {
	width: 100%;
	/* move main-image top on header */
	margin-top: -300px;
}

.noescape-cover img {
	display: block;
	max-width: 100%;
	height: auto;
}

.image-quote {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 20px auto 40px;
}

/* ---main--- */

/* hell-diary */

.hell-diary {
	max-width: 1440px;
	width: 100%;
}

.hell-diary h1 {
	margin: 0 0 10px 240px;
}

.diary-wrapper {
	margin: 0px 240px 0px;
	border: 2px solid;
	background-image: url(./images/id-hell-diary-page3.webp);
}

.entry-date {
	font-family: 'Inconsolata', monospace;
	font-weight: 600;
	font-size: 20px;
	display: inline-block;
	color: #000;
	opacity: 0.9;
	margin: 20px 0px 0px 20px;
}

.entry-attach {
	margin: 10px 20px 0;
}

.entry-attach img {
	display: block;
	width: 100%;
	height: auto;
}

.entry-attach iframe {
	width: 100%;
	max-width: 560px;
}

.entry-content {
	font-family: 'Inconsolata', monospace;
	font-weight: 500;
	font-size: 20px;
	margin: 10px 20px 20px;
	color: #000;
	opacity: 0.95;
}
/* hell-diary */

/* ---footer--- */

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	margin-top: auto;
	padding: 75px 0px 25px;
}

a.mail-contact {
	text-decoration: none;
	color: #524635;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
}

.footer-rights {
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	opacity: 0.5;
}

/* ---footer--- */

/* Media Query scalling main-image -> */
@media (max-width: 1900px) {
	.noescape-cover {
		margin-top: -220px;
	}
}
@media (max-width: 1400px) {
	.noescape-cover {
		margin-top: -170px;
	}
	/* diary width for Nest devices */
	.diary-wrapper {
		margin: 0px 160px 0px;
	}

	.hell-diary h1 {
		margin: 0 0 10px 160px;
	}
	/* diary width for Nest devices */
}

@media (max-width: 1000px) {
	.noescape-cover {
		margin-top: -80px;
	}

	/* diary width for tablets */
	.diary-wrapper {
		margin: 0px 60px 0px;
	}

	.hell-diary h1 {
		margin: 0 0 10px 60px;
	}
	/* diary width for tablets */
}

/* <- Media Query scalling main-image */

/* Media Query for Mobile Devices -> */
@media (max-width: 520px) {
	.header-top {
		justify-content: center;
		position: relative;
	}

	/* align button icon to the left */
	.play-button {
		position: absolute;
		left: 0;
	}

	.noescape-cover {
		/* move main-image top on header - off */
		margin-top: 0px;
	}

	.image-quote {
		font-size: 16px;
	}

	/* diary width for mobile */
	.diary-wrapper {
		margin: 0px 20px 0px;
	}

	.hell-diary h1 {
		margin: 0 0 10px 20px;
	}
	/* diary width for mobile */
}

/* galaxy fold */
@media (max-width: 320px) {
	.diary-wrapper {
		margin: 0px 15px 0px;
	}

	.entry-date,
	.entry-content,
	.image-quote {
		font-size: 14px;
	}
}
/* galaxy fold */
/* <- Media Query for Mobile Devices */
