@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sy4i4x');
  src:  url('fonts/icomoon.eot?sy4i4x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sy4i4x') format('truetype'),
    url('fonts/icomoon.woff?sy4i4x') format('woff'),
    url('fonts/icomoon.svg?sy4i4x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
  color: #e4405f;
}
.icon-spotify:before {
  content: "\e901";
  color: #1ed760;
}
.icon-facebook:before {
  content: "\e902";
  color: #1877f2;
}
.icon-youtube:before {
  content: "\e903";
  color: #f00;
}
.icon-bandcamp:before {
  content: "\e904";
  color: #408294;
}
